html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 400px;
    width: 300px;
    background-color: rgba(197, 187, 187, 0.781);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid rgba(50, 179, 189, 0.329);
    box-shadow: 0px 5px 5px 10px rgba(127, 131, 131, 0.048);
}

.screen {
    height: 10px;
    flex: .25;
    border-radius: 10px;
    background-color: rgba(95, 216, 84, 0.637);
    border-style: inset;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(3, 3, 3, 0.733);
}

.buttonPanel {
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(92, 81, 81);
    display: flex;
    flex-direction: column;
    border-style: ridge;
}

.buttonRow {
    flex: 1;
    display: flex;
}

button {
    flex: 1;
    background-color: darkgrey;
    border-style: double;
    margin: 1px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: rgb(204, 198, 198);
}

.operator, .backSpace, .clear {
    background-color: rgb(148, 145, 145);
}